# Python artifacts
__pycache__/
*.py[cod]
*$py.class
f:\*
# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
var/
*.egg-info/
.installed.cfg
*.egg

# Virtual environments
env/
venv/
ENV/
*.venv

# Django stuff:
*.log
local_settings.py

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# PyInstaller
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Byte-compiled / optimized / DLL files
*.pyc
*.pyo
*.pyd

# Database files
*.db
*.sqlite3

# Logs
logs/

# Mac/Windows artifacts
.DS_Store
Thumbs.db

